[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "2.15.0"
pillow = "10.2.0"
scipy = "1.12.0"
uuid = "1.30"
matplotlib = "*"
pandas = "2.2.0"
seaborn = "0.13.2"
scikit-learn = "1.4.1.post1"
numpy = "*"
skl2onnx = "*"
onnxruntime = "*"
onnx = "*"
statsmodels = "*"
xgboost = "*"
onnxmltools = "*"
pydot = "*"
pyquicksetup = "*"
mlprodict = "*"

[dev-packages]
jupyter = "*"
notebook = "*"
ipykernel = "*"

[requires]
python_version = "3.11"
